<footer class="footer">
    <div class="footer-content">
      <div class="footer-logo">
        <h2>My Portfolio</h2>
        
      </div>
      <div class="footer-social">
        <i class="fab fa-github"><fa-icon [icon]="['fab', 'github']"></fa-icon></i>
        <i class="fab fa-linkedin"> <fa-icon [icon]="['fab', 'linkedin']"></fa-icon></i>
        <i class="fab fa-twitter"> <fa-icon [icon]="['fab', 'twitter']"></fa-icon></i>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2025 My Portfolio | All rights reserved</p>
      <p class="footer-email">Contact: <a href="mailto:info@mywebsite.com">Myportfolo.com</a></p>
    </div>
  </footer>
  