<section id="projects" class="projects">
  <h2>My Projects</h2>
  <div class="project-grid">
    <div class="project" data-aos="fade-up">
      <div class="project-card">
        <div class="project-front">
          <img src="../assets/images/project1.JPG" alt="Project 1 Screenshot">
          <div class="project-info">
            <h3 >Project 1</h3>
          </div>
        </div>
        <div class="project-back">
          <h3>Project 1</h3>
          <p>A web application built using React, featuring real-time data fetching and a sleek user interface.</p>
          <a href="https://yetp.pk/" target="_blank" class="btn">View on Website</a>
        </div>
      </div>
    </div>

    <div class="project" data-aos="fade-up" data-aos-delay="100">
      <div class="project-card">
        <div class="project-front">
          <img  src="../assets/images/project2.JPG" alt="Project 2 Screenshot">
          <div class="project-info">
            <h3>Project 2</h3>
          </div>
        </div>
        <div class="project-back">
          <h3>Project 2</h3>
          <p>An e-commerce platform built using the MERN stack, with user authentication, product management, and payment gateway integration.</p>
          <a href="https://gharpar.co/" target="_blank" class="btn">View on Website</a>
        </div>
      </div>
    </div>

    <div class="project" data-aos="fade-up" data-aos-delay="200">
      <div class="project-card">
        <div class="project-front">
          <img src="../assets/images/project3.JPG" alt="Project 3 Screenshot">
          <div class="project-info">
            <h3>Project 3</h3>
          </div>
        </div>
        <div class="project-back">
          <h3>Project 3</h3>
          <p>A portfolio website showcasing my work, built using HTML, CSS, and JavaScript with responsive design.</p>
          <a href="https://nimbus.pk/#home-section" target="_blank" class="btn">View on Website</a>
        </div>
      </div>
    </div>
  </div>
</section>
