<section id="home" class="home">
  <div class="content">
      <h1>Welcome to My Portfolio</h1>
      <p>I am a <span class="iam">Full Stack Developer</span></p>
      <p id="summaryText">
          Hello! <span class="name">I'm Syed Manzar Hussain</span>, a front-end developer skilled in HTML, CSS, JavaScript, React, Tailwind CSS, Bootstrap, and GSAP for animations. With a passion for creating user-friendly web experiences, I specialize in crafting polished and dynamic interfaces.
      </p>
      <div>
          <a routerLink="/projects" class="btn mt-3">See My Work</a>
          <a routerLink="/hire" class="btn mx-3 mt-3">Hire Me</a>
          <a routerLink="/download-cv" class="btn mt-3">Download CV</a>
      </div>
  </div>
  <div class="img-div">
      <img class="hero-image mt-5" src="../assets/images/pic1.jpg" alt="Syed manzar's pic" />
  </div>
</section>
