<header [ngClass]="{'scrolled': scrolled}">
    <div class="logo-container"><img width="120px" class="logo" src="/assets/images/logo.jpg" alt="Website Logo"></div>
    <nav [ngClass]="{'menu-open': isMenuOpen}">
        <div class="hamburger" (click)="toggleMenu()">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <ul [ngClass]="{'active': isMenuOpen}" class="sss">
            <li><a fragment="home">Home</a></li>
            <li><a fragment="about">About</a></li>
            <li><a fragment="services">Services</a></li>
            <li><a fragment="projects">Projects</a></li>
            <li><a fragment="contact">Contact</a></li>
        </ul>
    </nav>
</header>